/* purple = #ba87f5 */
/* black = #121212 */
/* white = #FFFFFF at .87 or .6 opacity */

body {
  background-color: rgb(223, 223, 223);
  color: black;
  opacity: 0.87;
  margin: 10px;
  padding: 10px;
}

h1 {
  color: black;
}

#friends {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#friends td,
#friends th {
  border: 1px solid black;
  padding: 8px;
}

#friends tr:nth-child(even) {
  background-color: black;
  opacity: 0.6;
  color: grey;
}

#friends tr:hover {
  background-color: black;
  color: grey;
}

#friends th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: grey;
}

input[readonly] {
  background-color: grey;
}
