

{% extends 'base.html' %}

{% block body %}
<h2>VTM Estimator</h2>
<hr>

<h3>Provide Inputs:</h3>
<form action="/vtm_inputs" method="POST">
  <label for="radius">radius:</label>
  <input type="number" id="radius" name="radius"/>
  <br />
  <label for="height">height:</label>
  <input type="number" id="height" name="height" />
  <br />
  <input type="submit" id="submit" name="Calculate Estimate" />
  <input type="reset" value="Clear" />
</form>
<br />
<br />

{% if estimate %}
{{estimate}}
{% endif %}


<hr />
<br />

{% endblock %}
